/*-- font import --*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:defaults --*/
$bsg-dark-blue:           #002147;
$bsg-mid-blue:            #00629B;
$bsg-light-blue:          #41B6E6;
$bsg-warm-grey6:          #A59C94;
$bsg-warm-grey1:          #D7D2CB;
$bsg-beige:               #C6AA76;
$bsg-orange:              #C4622D;
$bsg-purple:              #833177;
$bsg-burgundy:            #76232F;
$bsg-green:               #719949;

$bsg-bg-beige:            #f7f5f4;
$bsg-bg-section:          #e5e5e5;

$bsg-bg-blue:        tint-color($bsg-mid-blue, 95%) !default;

$note-color:              #848484;
$headings-font-weight:    600 !default;
$body-color:              #444444 !default;
$body-bg:                 #ffffff !default;

$headings-font-family:    "Jost", "Open Sans", "Lato", "Helvetica Neue", Helvetica, sans-serif !default;
$headings-font-style:     null !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.2 !default;
$headings-color:          $bsg-dark-blue !default;

$font-family-sans-serif:  "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-weight-normal:      400 !default;

/*-- scss:rules --*/

strong {
  color: $bsg-mid-blue;
  font-weight: 600;
}

em {
  color: $bsg-mid-blue;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

main h2 {
  font-size: 1.2rem;
  border-bottom: 0;
}

main a {
  color: $bsg-mid-blue;
}

main a:hover {
  background-color: $bsg-bg-blue;
  color: $bsg-mid-blue;
}

a.anchorjs-link:hover {
  background-color: unset;
}

.lead{
  font-weight: 600;
}

.site-title-block {
  min-height: 400px;
  background-color: $bsg-dark-blue;
  padding: 10px;
  background-image: url("figures/world_squares.svg");
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-position: center;
  //background-size: 100% auto;
  margin-bottom: 50px;
}

.site-title {
  min-height: 350px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.site-title h1 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 300;
}

.quarto-title-banner {
  min-height: 200px;
  display: flex;
  align-items: center;
  background-color: $bsg-bg-beige;
  margin-bottom: 50px;
  padding: 10px;
}

.quarto-title h1 {
  font-size: 60px;
  font-weight: 300 !important;
  color: $bsg-dark-blue;
}

main {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

nav.navbar {
  background-color: $bsg-dark-blue;
}

nav.navbar {
  font-family: $headings-font-family;
  font-weight: 500;
}

.navbar-title {
  color: #ffffff;
}

.navbar-nav {
  text-transform: uppercase;
  font-weight: 500;
}

nav.navbar ul.dropdown-menu {
  background-color: $bsg-dark-blue;
}

nav.navbar .dropdown-item {
  text-transform: none;
  color: #ffffff;
}

nav.navbar .nav-item, nav.navbar .nav-link {
  color: #ffffff;
}

nav.navbar .nav-link.active .menu-text {
  color: #ffffff;
  padding-bottom: 3px;
  border-bottom: 2px solid $bsg-beige;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #ffffff;
}

nav.navbar .dropdown-item:hover, .dropdown-item:focus {
  background-color: $bsg-mid-blue;
}

nav.navbar .dropdown-menu {
  border-top: 3px solid $bsg-orange;
}

.logo-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
}

.logo-box .incise-logo {
  flex: 50%;
  text-align: left;
  display: none;
}

.logo-box .bsg-logo {
  flex: 50%;
  text-align: right;
}

.logo-box img {
  max-height: 100px;
}

.bg-grey1 {
  background-color: $bsg-warm-grey1;
}

.card-reports img {
  height: 100px;
}

.card-reports {
  display: flex;
  align-items: space-between;
}

.card-reports div {
  padding: 0 5px;
  text-align: center;
}

.card-reports img {
  margin: 10px;
}

a {
  color: $bsg-mid-blue;
}

a:hover {
  color: $bsg-light-blue;
}

nav[role=doc-toc] {
  font-size: 0.85rem;
  font-weight: 400;
  color: $bsg-warm-grey6;
}

nav[role=doc-toc] a {
  border-left: 1px solid $bsg-warm-grey6 !important;
  color: $bsg-warm-grey6 !important;
  font-weight: 400;
}

.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 3px solid $bsg-warm-grey6 !important;
  color: $bsg-dark-blue !important;
  font-weight: 400;
}

.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover,
.sidebar nav[role=doc-toc] a.active:hover,
.sidebar nav[role=doc-toc] a span:hover {
  background-color: unset;
  color: $bsg-dark-blue !important;
  font-weight: 500;
}

/*-- media queries --*/

// medium+ screens
@media (min-width: 576px) {

  .logo-box .incise-logo {
    flex: 50%;
    text-align: left;
    display: block;
  }

}

// xs/sm screens
@media (max-width: 767.98px) {

  .grid {
    display: block !important;
  }

  .site-title h1 {
    font-size: 2.25rem !important;
  }

}

@media (max-width: 991.98px) {

  .site-title h1 {
    font-size: 3.5rem;
  }

}

/*-- misc --*/

.linked-img {
  a:hover {
    background-color: none;
  }
}
